.search-bar-container {
    position: relative;
    display: inline-block;

  }
  
  .search-bar {
    width: 100px;
    outline: none;
    padding: 8px 32px 8px 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
.search-bar:focus{
    border:3px solid aquamarine ;
    width: 200px;


}
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  